/* Header */
h1{
    font: bold; 
    font-weight: 800; 
    text-align: center;
    margin-bottom: 70px;
}

/* Table */
table{
    border: 2px solid gray;
    width: 100%;
}

/* Table Rows and Columns */
th, td{
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
}

/* Add Contacts button */
.btn{
    padding: 8px 12px;
    border: none;
    background-color: blanchedalmond;
    cursor: pointer;
    width: auto;
    position: absolute;
    right: 20px;
    top: 80px;
    font-weight: bold;
    border-radius: 6px;
}

/* Popup Form */
.popupForm{
    display: none;
    position: fixed;
    z-index: 999;
    border: 3px solid paleturquoise;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.formContainer{
    max-width: 400px;
    padding: 20px;
    background-color: aliceblue;
    position: relative;
}

.formContainer input{
    width: 90%;
    padding: 15px;
    border: none;
    margin: 5px 0 22px 4px;
}

.formContainer input:focus{
    background-color: #ddd;
    outline: none;
}

.formContainer label{
    margin-left: 4px;
    font-weight: bold;
}

.formContainer .submit-btn{
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px 0;
    bottom: 0;
    position: relative;
    background-color: lightblue;
}

.formContainer .btn-close{
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Edit button */
.editBtn{
    background-color: lightgreen;
}

/* Delete button */
.deleteBtn{
    background-color: lightcoral;
}

.editBtn, .deleteBtn{
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin: 2px;
}

/* Blur background when popup form is open */
.blur-background {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}