main{
    margin: 0;
    background: white;
}

.main-wrapper{
    width: 100%;
    display: flex;
}

.login-image{
    width: 50%;
}

.login-image img{
    width: 100%;
}

.login-form-holder{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-form-holder h2{
    font-size: 25px;
    margin-bottom: 8px;
}

.login-form-holder p{
    font-size: 14px;
    color: #8e93a3;
    margin-bottom: 10px;
}

.login-form{
    width: 50%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.login-form a {
    display: block;
    text-align: right;
    color: #7e6ceb;
    margin-bottom: 12px;
    float: right;
    font-size: 12px;
}

.login-form a:hover{
    text-decoration: underline;
}

.login-form label{
    font-size: 12px;
    color: #8e93a3;
}

.login-form div input{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    color: black;
}

.login-form input{
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

.login-form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-sign-in {
    background-color: #5c14fc;
    color: white;
    font-size: 12px;            
    text-align: center;         
    padding: 14px 0;           
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    display: flex;             
    justify-content: center;
    align-items: center;
}

.form-sign-in:hover{
    background-color: #5c14fc;
}