main{
    margin: 0;
}

.main-wrapper{
    width: 100%;
    display: flex;
}

.login-image{
    width: 50%;
    /* border: 1px black solid; */
}

.login-image img{
    width: 100%;
}

.login-form-holder{
    width: 50%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-form-holder h2{
    font-size: 25px;
}

.login-form-holder p{
    font-size: 12px;
}

.login-form{
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.login-form a {
    display: block;
    text-align: right;
}

.login-form p{
    font-size: 12px;
}

.login-form a{
    float: right;
    font-size: 12px;
}

.login-form div input{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    color: black;
}

.login-form input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

.login-form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-sign-in{
    background-color: #5c14fc;
}