body {
    all: unset;
    display: grid;
    min-width: 1300px;
    grid-template-columns: auto .9fr;
    grid-template-areas: "header main" "header main";
    height: 100dvh;
    background-color: #f6f6f9;
    /* overflow: hidden; */
    position: absolute;
    width: 100%;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    /* border: 1px black solid; */
    padding: 20px;
    gap: 20px;
    /* justify-content: space-around; */
    /* position: fixed; */
}

main {
    grid-area: main;
    /* border: 1px red solid; */
    padding: 20px;
    overflow: auto;
}

a {
    /* border: 1px black solid; */
}